@use '../forwards' as *;

.btn {
    display: inline-block;
    // min-width: 110px;
    padding: 20px 40px;
    color: white;
    background-color: #f97100;
    text-align: center;
    border-radius: 5px;
    @include font(main, medium);
    line-height: 1;
}
