@use '../forwards' as *;

.nav {
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    z-index: 1000;
    transition: 0.7s;

    &__lists {
        display: flex;
        flex-wrap: wrap;
    }

    &__list {
        flex: 0 0 100%;
        margin-bottom: 80px;

        @include mediaMin(md) {
            flex: 0 0 calc((100% - 20px) / 2);
            margin-right: 20px;
        }

        @include mediaMin(lg) {
            flex: 0 0 auto;
            margin-right: percentage(div(125, 1720));
        }

        &:nth-child(2n) {
            @include mediaMin(md) {
                margin-right: 0;
            }

            @include mediaMin(lg) {
                margin-right: percentage(div(125, 1720));
            }
        }

        &:nth-child(4n) {
            @include mediaMin(lg) {
                margin-right: 0;
            }
        }
    }

    &__h2 {
        margin-bottom: 15px;
        font-size: rem(20px);
        @include font(accent, regular);
        line-height: 1;
    }

    &__subtitle {
        margin-bottom: 40px;
        font-size: rem(14px);
        @include font(base, bold);
        line-height: 1;
    }

    &__link {
        &:before {
            margin-right: 10px;
            @include fontAwesome('\f105');
        }
    }

    &__subnav-list {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.js-clicked {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
        transition: 0.7s;
    }
}
