@use '../forwards' as *;

.slider {
    &__list {
        margin-right: 40px;
    }

    &__img {
        width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    &__time {
        display: block;
        margin-bottom: 15px;
        font-size: rem(14px);
        @include font(base, bold);
    }

    &__h3 {
        font-size: rem(16px);
        @include font(base, bold);

        @include mediaMin(md) {
            font-size: rem(18px);
        }

        @include mediaMin(lg) {
            font-size: rem(20px);
        }
    }

    .slick-list {
        overflow: visible;
    }
}
