meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="ディスクリプション")
meta(keywords="キーワード キーワード")
title site_04

//- favicon
link(rel="icon" href="./favicon.ico")

//- OGP
meta(property="og:site_name" content="site_04")
meta(property="og:url" content="")
meta(property="og:type" content="website")
meta(property="og:title" content="site_04")
meta(property="og:description" content="ディスクリプション")
meta(property="og:image" content="")
meta(property="og:locale" content="ja_JP")

//- css
link(rel="stylesheet" href="./css/style.css" )

//- js
script(src="./js/bundle.js")