@use '../forwards' as *;

main {
    overflow-x: hidden;
}

.main {
    margin-top: 90px;

    &__inner {
        margin-bottom: 120px;
        @include inner(600px);
    }
}

.cols {
    @include mediaMin(xl) {
        display: flex;
        @include inner(1720px);
    }

    &__l {
        @include mediaMin(xl) {
            flex: 0 0 percentage(div(1100, 1720));
            margin-right: 100px;
        }
    }
}

.articles {
    &__h2,
    &__h2-subtitle {
        text-align: center;

        @include mediaMin(xl) {
            text-align: left;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;

        @include mediaMin(md) {
            margin-bottom: -60px;
        }
    }

    &__article {
        flex: 0 0 auto;
        width: 100%;
        max-width: 400px;
        margin-right: auto;
        margin-bottom: 60px;
        margin-left: auto;

        @include mediaMin(md) {
            width: calc((100% - 20px) / 2);
            max-width: 100%;
            margin-right: 20px;
            margin-bottom: 120px;
            margin-left: 0;
        }

        @include mediaMin(xl) {
            width: calc((100% - (40px * 2)) / 3);
            margin-right: 40px;
        }

        &:nth-child(2n) {
            @include mediaMin(md) {
                margin-right: 0;
            }

            @include mediaMin(xl) {
                margin-right: 40px;
            }
        }

        &:nth-child(3n) {
            @include mediaMin(xl) {
                margin-right: 0;
            }
        }
    }

    &__btn {
        margin-bottom: 120px;
        text-align: center;

        @include mediaMin(xl) {
            margin-bottom: 0;
        }
    }
}

.sidebars {
    &__h2,
    &__h2-subtitle {
        text-align: center;

        @include mediaMin(xl) {
            text-align: left;
        }
    }
}

.events {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f5f5f5;

    &__inner {
        @include inner(1720px);
    }
}
