extends layouts/_default
append value
    -const title = 'site_04'
    -const description = 'ディスクリプション'
    -const keyword = 'キーワード キーワード'
    -const path = '.'

block main
    main.articles-page.404-page
        .main
            .main__inner.cols
                .cols__l
                    h1.articles-page__h1 ただいま、準備中です...
                .cols__r
                    include ./includes/_sidebars

            include ./includes/_events