html(lang="ja")
    head
        include includes/_head.pug
    
    body
        include includes/_header.pug
        
        main
            p.text テキスト

        include includes/_footer.pug
        