extends layouts/_default
append value
    -const title = 'site_04'
    -const description = 'ディスクリプション'
    -const keyword = 'キーワード キーワード'
    -const path = '.'

block header
    include ./includes/_header.pug
        append headerCont
            include ./components/_hamburger.pug
            +nav('nav')
block main

block footer
    include ./includes/_footer.pug
        append headerCont
            +nav('f-nav')