extends layouts/_default
append value 
    -const title = 'site_04'
    -const description = 'ディスクリプション'
    -const keyword = 'キーワード キーワード'
    -const path = '.'

block header 
    include ./includes/_header.pug
block main 

block footer
    include ./includes/_footer.pug