@use '../forwards' as *;

.sidebars {
    &__sidebar {
        max-width: 400px;
        margin-right: auto;
        margin-bottom: 60px;
        margin-left: auto;

        @include mediaMin(md) {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 120px;
            margin-left: 0;
        }
    }

    &__img {
        width: 100%;
        margin-bottom: 24px;
        border-radius: 20px;
    }

    &__h3 {
        font-size: rem(18px);
        @include font(base, bold);
        text-align: center;

        @include mediaMin(xl) {
            font-size: rem(20px);
            text-align: left;
        }
    }
}
