-const cssPath = path + '/css/';
-const jsPath = path + '/js/';
-const imgPath = path + '/img/';
-const domain = 'https://site_04/';
-const ogImg = domain + 'img/ogp.jpg';

//- navigation
-
    const nav = [
        {
            title: 'ARTICLES',
            subtitle: '記事一覧',
            subnav: [
                {
                    title: 'すべての記事を見る',
                    link: '#',
                }
            ]
        },
        {
            title: 'REGULARS',
            subtitle: '定期更新',
            subnav: [
                {
                    title: '「外出」と「音楽」',
                    link: '#',

                },
                {
                    title: '「食事」と「音楽」',
                    link: '#',
                },
                {
                    title: '「部屋」と「音楽」',
                    link: '#',
                }
            ]
        },
        {
            title: 'EVENTS',
            subtitle: 'イベント',
            subnav: [
                {
                    title: 'イベント情報',
                    link: '#',
                }
            ]
        },
        {
            title: 'SNS',
            subtitle: 'SNSアカウント',
            subnav: [
                {
                    title: '<i class="fa-brands fa-instagram"></i>インスタグラム',
                    link: '#',
                },
                {
                    title: '<i class="fa-brands fa-twitter"></i>ツイッター',
                    link: '#',
                }
            ]
        }
    ]