@use '../config/config' as config;
@use '../mixin/breakpoints' as *;

@mixin inner($inner) {
    $inner: $inner + 40px * 2;

    max-width: $inner;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    
    @include mediaMin(lg) {
        padding-right: 40px;
        padding-left: 40px;
    }
}